html, body {
  height: 100%;
  background-color: #ddd; }

.main.main-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background-color: #2196F3;
  padding: 10px; }
  .main.main-grid .grid-item {
<<<<<<< HEAD
    background-color: rgba(255, 255, 25, 0.8);
=======
    background-color: rgba(255, 255, 255, 0.8);
>>>>>>> autoPrefixer
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center; }
